body {
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
  background-color: rgba(224, 224, 224, 0.74);
}

div.nav-bar {
  position: fixed;
  background-color: white;
  width: 16%;
  left : 0%;
  height: 100%;
}

div.header-bar{
  position: absolute;
  width: 84%;
  left: 16% ;
  height: 55%;
  background-image: url("/images/test6.jpg");
  background-position: center top;

}

div.header-text {
  text-align: center;
  color: white;

}

div {
  a{
    position: relative;
    top : 50%;
    left :35%;
    color:black;
  }
}

div.nav-logo {
  background-image: url("/images/logo1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  position: relative;
  height: 20%;
  background-size: 70%;

}

div.login-register{
  position: absolute;
  text-align: center;
  color: black;
  width: 30%;
  height: 100%;
  left: 35%;
  top: 60%;
  opacity: 0.9;
  font-size: 30px;
}

div.header-name {
  color: white;
}
